#site-main .hide-print, .hide-print a {
  color: #cccccc !important;
}

#site-main .hide-print td:first-child, .show-print td:first-child {
  min-width: 32px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 11px;
}

#site-main .hide-print td:first-child {
  /* background-image: url(chrome-extension://acfdnckoekfkmmlbbhedlgihbnehfeop/visible-off.svg); */
  background-image: url(chrome-extension://dndpegbedoaaphodhabnfbmlalfjmeeb/visible-off.svg);
}

#site-main .show-print td:first-child {
  /* background-image: url(chrome-extension://acfdnckoekfkmmlbbhedlgihbnehfeop/visible.svg); */
  background-image: url(chrome-extension://dndpegbedoaaphodhabnfbmlalfjmeeb/visible.svg) ;
}