/* Remove assignment header */
.bb-tile-title, #assignment-center-header-view {
  display: none !important;
}

/* Remove extraneous table columns */
#assignment-center-list-view table tr > *:nth-child(2) {
  display: none !important;
}

#assignment-center-list-view table tr > *:nth-child(4) {
  display: none !important;
}

/* Resize table columns after removing columns */
#assignment-center-list-view table tr > *:nth-child(1) {
  width: 10% !important;
}

#assignment-center-list-view table tr > *:nth-child(3) {
  width: 80% !important;
}

#assignment-center-list-view table tr > *:nth-child(5) {
  width: 10% !important;
}